<% if @posts.count > 0 %>
  <div id="posts">
    <%= render @posts %>
  </div>
<% else %>
  <div class="h-[80vh] flex flex-col justify-center items-center">
    <p>まだえらすぎが投稿されていません</p>
    <p>右上の鉛筆マークから投稿してみましょう</p>
  </div>
<% end %>