<% content_for(:title, '404 Not Found') %>
<% content_for :extra_head do %>
  <meta name="description" content="404エラーページです。">
<% end %>
<h1 class="text-2xl">404 Not Found</h1>
<div class="flex flex-col items-center justify-center gap-4">
  <p class="text-sm">お探しのページは存在しません。</p>
  <p class="text-sm">アドレスが間違っているか、ページが移動した可能性があります。</p>
</div>
<%= link_to 'トップページに戻る', root_path, class: 'underline text-sm' %>
