<h1>Users#index</h1>
<p style="color: green"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

