<button data-action="click->modal#open" data-modal-id="editModal">編集</button>
<%= render 'layouts/modal', modal_id: 'editModal' do %>
  <%= render "posts/form", post: post, class: "textarea textarea-bordered" %>
<% end %>