<div class="h-[100vh]">
<div id="container" style="position: absolute;"></div>
<div class="swiper" data-controller="scroll">
  <div class="swiper-wrapper mt-44">
    <% @posts.each do |post| %>
      <div class="swiper-slide">
        <div data-controller="reaction">
        <div data-reaction-target="post"><%= post.id %></div>
        <div class="text-[60px]">
          <%= post.content %>
        </div>
        <div class="flex justify-center">
          <% @reactions_types.each do |reactions_type| %>
            <%= button_to "#{reactions_type.name}", reactions_path(post_id: post.id, reactions_type_id: reactions_type.id), {method: :post, class: "btn text-lg m-10 w-24 h-24 rounded-full drop-shadow-md bg-white", id: "test", data: { action: "click->reaction#onButtonClick", reaction_type_id: reactions_type.id}} %>
          <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
