<%= turbo_frame_tag "test", data: { turbo_action: :advance } do %>
  <div id="posts">
  <% @posts.each do |post| %>
    <p>
      <%= link_to post.content, post %>
    </p>
  <% end %>
</div>

<%= link_to "新規投稿", new_post_path, post: @post, class: "link" %>
<% end %>
