.swiper {
  height: 80svh;
}

.swiper-slide,
swiper-slide {
  display: flex !important;
}

.swiper-button-disabled {
  opacity: 0 !important;
}

[class^="swiper-button"] {
  transform: rotate(90deg) translateX(-50%) !important;
  inset: 0 !important;
  margin: auto !important;
}

.swiper-button-prev {
  margin-top: 20svh !important;
}

.swiper-button-next {
  margin-bottom: 20svh !important;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-color: transparent;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

.swiper-button-prev::after {
  border-bottom: 20px solid transparent;
  border-right: 20px solid #e5e7eb;
  border-top: 20px solid transparent;
}

.swiper-button-next::after {
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e5e7eb;
  border-top: 20px solid transparent;
}
