<p>いつもえらすぎをご利用いただきありがとうございます。</p>
<p>以下のリンクをクリックして、パスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>なお、お心当たりの無い場合は、このメールを破棄してください。</p>
