<%# flash.each do |flash_type, message| %>
<!--  <div class="flash__message">-->
    <%#= message %>
<!--  </div>-->
<%# end %>

<% if notice %>
    <div class="toast-body"><%= notice %></div>
<% end %>