<div class=>
<% flash.each do |flash_type, message| %>
  <div
    class="animate-disappear"
    data-controller="removals"
    data-action="animationend->removals#remove"
  >
    <%= message %>
  </div>
<% end %>
</div>