<div class="text-center">
  <% if current_user.nil? %>
    <p>会員登録すると過去の投稿が見れるようになります</p>
    <%= button_to "新規登録", new_user_registration_path, method: :get, class: "btn" %>
    <p><%= link_to '登録済みの方はログイン', new_user_session_path %></p>
  <% end %>
</div>