<% if current_user.nil? %>
  <div class="flex flex-col justify-center items-center h-[8vh] fixed z-10 bottom-[10vh] bg-[#ededed] bg-opacity-80 sm:w-[640px] w-full">
    <p>会員登録すると過去の投稿が見やすくなります</p>
    <p>
      <%= link_to "新規登録", new_user_registration_path, class: "underline" %>
      または
      <%= link_to "ログイン", new_user_session_path, class: "underline" %>
    </p>
  </div>
<% end %>
